#create-candidate-button {
	background: transparent;
	color: white;
	border: 0;
	font: inherit;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
	outline: none;
}

.grade {
	width: 100%;
	background: white;
	color: rgba(0,0,0,0.7);
	box-sizing: border-box;
	position: relative;
	box-shadow: 0 3px 6px rgba(0,0,0,0.15);
	user-select: none;
}
.grade::after {
	position: absolute;
	content: 'navigate_next';
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; 
	top: 4px;
	right: 12px;
	pointer-events: none;
	line-height: 2em;
	vertical-align: middle;
	transform: rotate(90deg);
	transition: transform 300ms;
}
.grade.show::after {transform: rotate(-90deg);}
.grade:not(:last-of-type) {margin-bottom: 32px;}

.grade-title {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 8px;
	cursor: pointer;
}
.grade-candidates {
	padding: 0 8px 8px;
	box-sizing: border-box;
	display: none;
}
.candidate {
	display: flex;
	line-height: 32px;
	padding: 4px;
	font-size: 18px;
	cursor: default;
	justify-content: center;
	border-top: 1px solid rgba(0,0,0,0.1)
}
.candidate .candidate-name {
	flex: 1 1 auto;
}
.candidate .candidate-action {
	padding: 4px;
	cursor: pointer;
}
.candidate .candidate-action:hover {
	background: rgba(0,0,0,0.1);
}

.no-candidates {
	font-size: 2em;
	font-weight: 900;
	opacity: 0.7;
	text-align: center;
	margin-top: 64px;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.no-candidates:last-of-type {
	margin-top: 32px;
	font-size: 6em;
	letter-spacing: 2px;
	opacity: 0.3;
}
#create-candidate-modal {
	opacity: 0;
	transition: opacity 300ms;
	pointer-events: none;
}
#create-candidate-modal.show {opacity: 1; pointer-events: all;}
#modal-background {
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 5;
}
#modal-window {
	position: fixed;
	z-index: 6;
	top: 50%;
	left: 50%;

	transform: translateX(-50%) translateY(-50%);
	background: white;
	color: #444;
}
#modal-header {
	font-size: 2em;
	text-transform: uppercase;
	padding: 16px;
}
#modal-content {
	padding: 0 16px;
}
#modal-window input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	font: inherit;
	padding: 8px;
	outline: none;
	font-size: 18px;
}
#modal-window input + input {margin-top: 8px;}
#modal-footer {
	padding: 16px;
	text-align: right;
}
#modal-footer button {
	margin-left: 8px;
	padding: 8px 16px;
	outline: none;
	border: 0;
	color: #C76AAB;
	text-transform: uppercase;
	font-size: 16px;
	cursor: pointer;
	background: transparent;
}
#modal-footer #modal-save-button {
	background: #FC5C7D;
	background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
	background: linear-gradient(to right, #6A82FB, #FC5C7D);
	background-attachment: fixed;
	color: white;
}