body {
	font-family: "Lato", sans-serif;
	display: flex;
	padding: 0;
	margin: 0;
	background: #FC5C7D;
	background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
	background: linear-gradient(to right, #6A82FB, #FC5C7D);
	color: white;
}

#sidebar {
	flex: 0 0 300px;
	background: rgba(255,255,255,0.2);
	height: 100vh;
	display: flex;
	flex-direction: column;
}
#sidebar-title {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
	padding: 12px;
	margin-bottom: 8px;
}
#sidebar a {
	display: block;
	padding: 12px;
	cursor: pointer;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
	text-decoration: none;
	color: white;
}
#sidebar a.current {
	background: rgba(255,255,255,0.2);
	pointer-events: none;
}
#sidebar a:hover {
	background: rgba(255,255,255,0.1);
}
#sidebar-spacer {
	flex: 1 1 auto;
}
#content {
	flex: 1 1 auto;
	display: flex;
	padding: 32px;
	flex-direction: column;
}

#title-row {
	display: flex;
	margin-bottom: 16px;
}

#page-title {
	flex: 0 0 auto;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 5px;
}
.spacer {
	flex: 1 1 auto;
}